body {
    background-color: #000;
}

.cacoguci {
    transform: translate(80px, 20px);
}

.caco-left {
    width: 63px;
    height: 74px;
    background-image: url(../images/cacoturnleft.png);
    position: absolute;
    left: 410px;
    transition: 1s;
}
.caco-right {
    width: 63px;
    height: 74px;
    background-image: url(../images/cacoturnright.png);
    position: absolute;
    left: 410px;
    transition: 1s;
}

.caco-up {
    width: 63px;
    height: 74px;
    background-image: url(../images/cacoup.png);
    position: absolute;
    left: 410px;
    transition: 1s;
}

.caco-down {
    width: 63px;
    height: 74px;
    background-image: url(../images/cacodown.png);
    position: absolute;
    left: 410px;
    transition: 1s;
}

.caco-turn--anim {
    animation:
            anim 0.4s 0s 1 steps(2) forwards;
}

.caco-return--anim {
    animation:
            anim 0.4s 0s 1 steps(2);
}

@-webkit-keyframes anim {
    100% {
        background-position-x: -128px;
    }
}

@keyframes anim {
    100% {
        background-position-x: -128px;
    }
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}